/Ktra/nbproject/private/
/Ktra/build/
/QuanLy_NhaHang/nbproject/private/
/QuanLy_NhaHang/build/
/BT_26-11/nbproject/private/
/BT_26-11/build/
/QuanLy_HocVien/nbproject/private/
/QuanLyHocVien/nbproject/private/
/QuanLyHocVien/build/
/BT_101219/nbproject/private/
/BT_101219/build/